<div class="mood-ui-default">
  <div class="ue-mood-msgbox">{{msg}}</div>
  <table>
    <caption class="ue-mood-total">{{total}}</caption>
    <tr>
    {{#moods}}
      <td class="ue-mood-item" align="center">
        <span class="value">{{value}}</span>
        <div class="rect-wrapper">
          <img class="rect" width="31" height="{{ratio value ../total}}" src="http://ue2.17173.itc.cn/images/lib/v2/mood-1.0/default-rect-{{#equal value ../max}}max{{else}}normal{{/equal}}.gif">
        </div>
        <img class="ue-mood-smiley" src="{{img}}" data-mood-ani="{{ani}}">
        <div>{{name}}</div>
      </td>
    {{/moods}}
    </tr>
  </table>
</div>